---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="bg-gray-600 shadow">
  <nav class="flex justify-between items-center p-4">
    <h2 class="text-xl font-semibold m-0">
      <a href="/" class="text-cyan-300 text-2xl no-underline hover:text-white">
        {SITE_TITLE}
      </a>
    </h2>
    <div class="flex">
      <HeaderLink href="/" class="py-4 px-2 text-cyan-300 no-underline hover:text-white">Our story</HeaderLink>
      <HeaderLink href="/blog" class="py-4 px-2 text-cyan-300 no-underline hover:text-white">Projects</HeaderLink>
    </div>
    <div class="hidden md:flex justify-between gap-8">
      <a href="https://www.instagram.com/nestedloop.dev" target="_blank" class="flex items-center" class="">
        <span class="sr-only">Follow NL on Instagram</span>
        <svg viewBox="0 0 22 22" aria-hidden="true" width="32" height="32">
          <path d="M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6ZM6 4C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4H6ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12ZM17.5 8C18.3284 8 19 7.32843 19 6.5C19 5.67157 18.3284 5 17.5 5C16.6716 5 16 5.67157 16 6.5C16 7.32843 16.6716 8 17.5 8Z" fill="#67e8f9"></path>
        </svg>
      </a>
      <a href="https://twitter.com/nestedloopng" target="_blank" class="flex items-center">
        <span class="sr-only">Follow NL on Twitter</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
          <path fill="#67e8f9" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
        </svg>
      </a>
      <a href="https://github.com/Nested-Loop-Technologies" target="_blank" class="flex items-center">
        <span class="sr-only">Go to NL's GitHub org</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
          <path fill="#67e8f9" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
      </a>
    </div>
  </nav>
</header>
